.login-container {
    max-width: 100%;
    margin: 25px;
    border-radius: 10px; // Para redondear los bordes
    background-color: rgba(120, 144, 156, 0.3);
    box-shadow: 0 4px 6px rgba(120, 144, 156, 0.1);
}


.forgot-password {
    text-align: center;
    margin-top: 10px;
}